.Rhistory
.Rproj.user
*.RData
*.csv
/data-raw/raw/
datasets/xother/glove-embeddings/
data/glove2014.rda
data/glove2024.rda
datasets/xother/wordset-dictionary/jsons/

analysis/
data-raw/_build/
docs/

claude.md
.claude/
.venv-bge/
